# reStructuredText Rules
# Copyrigth 2019-2025, Antoni Bella Pérez (antonibella5@yahoo.com)
# by KDE Catalan Team (kde-i18n-ca@kde.org)
# License: GPLv3+

{\*\*([-<>0123456789ABCDEFGHIJKLMNOPQRSTVWYZ])\*\*}
id="rst-shorcut"
valid msgstr="\*\*([-<>0123456789ABCDEFGHIJKLMNOPQRSTVWYZ])\*\*"
hint="Surely missing a keyboard shortcut (reStructuredText)"

{(\*\*\\\*\*)}
id="rst-shorcut2"
valid msgstr="(\*\*\\\*\*)"
hint="Surely missing a keyboard shortcut (reStructuredText)"

{(\*\*\+\*\*)}
id="rst-shorcut3"
valid msgstr="(\*\*\+\*\*)"
hint="Surely missing a keyboard shortcut (reStructuredText)"

{\*\*(F[0123456789][0123456789]?)\*\*}
id="rst-shorcut-f"
valid msgstr="\*\*(F[0123456789][0123456789]?)\*\*"
hint="Surely missing a keyboard shortcut (reStructuredText)"

{\s(<[^<]{1,}>)\`(_|)}
id="rst-link2"
valid msgstr="\s(<[^<]{1,}>)\`(_|)"
hint="Surely the previous space should be removed or missing a link (reStructuredText)"

{(^|\s)\`}
id="rst-link0italic"
valid msgid="(^|\s)\`\`(\`|)"
valid msgstr="(^|\'|\s«|\s)\`"
hint="Surely missing a link or a start bold markup (reStructuredText)"

    {(^|\s)\`\`}
    id="rst-2tilde"
    valid msgid="(^|\s)\`\`\`"
    valid msgstr="(^|\(|\'|\s«|\s)\`\`"
    hint="Surely missing (reStructuredText)"

    {(^|\s)\`\`\`}
    id="rst-3tilde"
    valid msgstr="(^|\(|\'|\s«|\s)\`\`\`"
    hint="Surely missing (reStructuredText)"

{([…:]|\.|\)|\b)\`(\s|\.|[:,]|\)|$)}
id="rst-italic2"
valid msgid="([…:]|\.|\)|\b)\`\`(\`|)(\s|\.|[:,]|\-|\)|$)"
valid msgstr="([…:]|\.|\»|\)|\b)\`(\s|\.|[:,]|\»|\-|\)|$)"
hint="Surely missing a link or an end italic markup (reStructuredText)"

    {([…:]|\.|\)|\b)\`\`(\s|\.|[:,]|\)|$)}
    id="rst-tilde2"
    valid msgid="([…:]|\.|\)|\b)\`\`\`(\s|\.|[:,]|\-|\)|$)"
    valid msgstr="([…:]|\.|\»|\)|\b)\`\`(\s|\.|[:,]|\-|\»|\)|$)"
    hint="Surely missing (reStructuredText)"

    {([…:]|\.|\)|\b)\`\`\`(\s|\.|[:,]|\-|\)|$)}
    id="rst-tilde3"
    valid msgstr="([…:]|\.|\»|\)|\b)\`\`\`(\s|\.||[:,]|\-|\»|\)|$)"
    hint="Surely missing (reStructuredText)"

{(^|\(|\s)\*(\(|\b)}
id="rst-1asterisk"
valid msgid="(^|\s)\*\*(\*|)(\(|\b)"
valid msgstr="(^|\-|\s|\(|\'|«)\*(\(|\b)"
hint="Surely missing a start italic markup - without spaces too (reStructuredText)"

    {(^|\/|\(|\s)\*\*(\(|\b)}
    valid msgid="(^|\s)\*\*\*(\(|\b)"
    id="rst-2asterisk"
    valid msgstr="(^|\s|\-|\/|\(|\'|«|\-)\*\*(\(|\b)"
    hint="Surely missing a start bold markup - without spaces too (reStructuredText)"

    {(^|\/|\(|\s)\*\*\*(\(|\b)}
    id="rst-3asterisk"
    valid msgstr="(^|\s|\-|\/|\(|\'|«|\-)\*\*\*(\(|\b)"
    hint="Surely missing a start bold markup - without spaces too (reStructuredText)"

{([…:%]|\.|\)|\b)\*}
id="rst-asterisk1"
valid msgid="\d\*(EPS|pi|x)"
valid msgid="d.\*f"
valid msgid="L\*a\*b"
valid msgid="hq\*x"
valid msgid="kdenlive_\*"
valid msgid="m\*n"
valid msgid="meet\*boss"
valid msgid="X\*Y"
valid msgid="([…:%]|\.|\)|\b)\*\*(\*|)"
valid msgstr="([…:%]|\.|\»|\-|\)|\b)\*(\.|[_,;:!?<]|\»|\-|\\|\||\{|\}|\]|\(|\)|\d|\s|$)"
valid msgstr="Q\*Application"
hint="Surely missing an end italic markup - without spaces too, but yes at the end (reStructuredText)"

    {([…:%]|\.|\)|\b)\*\*}
    id="rst-asterisk2"
    valid msgid="([…:%]|\.|\)|\b)\*\*\*"
    valid msgstr="([…:%]|\.|\)|\b)\*\*\b"
    valid msgstr="([…:%]|\.|\»|\)|\b)\*\*(\.|[_,;:!?<]|\»|\-|\\|\||\{|\}|\]|\(|\)|\d|\s|$)"
    hint="Surely missing an end bold markup - without spaces too, but yes at the end (reStructuredText)"

        [([…:%]|\.|\)|\b)\*\*\b]
        id="rst-asterisk2a"
        valid msgid="CMAKE\*POLICY\*\*_"
        valid msgstr="([…:%]|\.|\)|\b)\*\*(\s)"
        hint="Surely missing a right end bold markup - can not highlight only half word (reStructuredText)"

    {([…:%]|\.|\)|\b)\*\*\*}
    id="rst-asterisk3"
    valid msgstr="([…:%]|\.|\»|\)|\b)\*\*\*(\.|[,;:!]|\»|\-|\)|\s|$)"
    hint="Surely missing an end bold markup - without spaces too, but yes at the end (reStructuredText)"

{:alt:\`}
id="rst-alt"
valid msgstr=":alt:\`\b(.*?)\`(\s|\.|\)|[:,]|$)"
hint="Surely missing the bond «:alt:`» - without an additional space too (reStructuredText)"

{:dfn:\`}
id="rst-dfn"
valid msgstr=":dfn:\`(\b|«)(.*?)\`(\s|\.|\)|[:,]|$)"
hint="Surely missing the bond «:dfn:`» - without an additional space too (reStructuredText)"

{:doc:\`}
id="rst-doc"
valid msgstr=":doc:\`\b(.*?)\`(\s|\.|\)|[:,]|\»|$)"
hint="Surely missing the bond «:doc:`» - without an additional space too, but yes at the end (reStructuredText)"

{:file:\`}
id="rst-file"
valid msgstr=":file:\`(\.|[<~%]|\$|\*|\/|\b)(.*?)\`(\s|\.|\-|\»|\)|[:,]|$)"
hint="Surely missing the bond «:file:`» - without an additional space too (reStructuredText)"

{:guilabel:\`}
id="rst-guilabel"
valid msgstr=":guilabel:\`(\b|\.\.\.|['+=<«]|>>)(.*?)\`(\s|\.|\-|\»|\)|[:,!]|$)"
hint="Surely missing the bond «:guilabel:`» - without an additional space too (reStructuredText)"

{:literal:\`}
id="rst-literal"
valid msgstr=":literal:\`(\b|['+=<]|\\|\/|\-|\*|\)|\()(.*?)\`(\s|\.|\-|\)|[:,]|$)"
hint="Surely missing the bond «:literal:`» - without an additional space too (reStructuredText)"

{:kbd:\`}
id="rst-kbd"
valid msgstr=":kbd:\`(\b|['+=<]|\\|\/|\-|\*|\)|\()(.*?)\`(\s|\.|\-|\)|[:,]|$)"
hint="Surely missing the bond «:kbd:`» - without an additional space too (reStructuredText)"

{:menuselection:\`}
id="rst-menuselection"
valid msgstr=":menuselection:\`\b(.*?)\`(\s|\.|\)|[:,]|\»|$)"
hint="Surely missing the bond «:menuselection:`» - without an additional space too - doesn't allow text styling (reStructuredText)"

{:program:\`}
id="rst-program"
valid msgstr=":program:\`\b(.*?)\`(\s|\.|\»|\)|[:,]|$)"
hint="Surely missing the bond «:program:`» - without an additional space too (reStructuredText)"

{:ref:\`}
id="rst-ref"
valid msgstr=":ref:\`\b(.*?)\`(\s|\.|\)|[:,]|\»|$)"
hint="Surely missing the bond «:ref:`» - without an additional space too, but yes at the end (reStructuredText)"

{:su[bp]:\`}
id="rst-subp"
valid msgstr=":su([bp]):\`\b(.*?)\`(\s|\.|\)|[:,]|$)"
hint="Surely missing the bond «:sub:` or :sup:`» - without an additional space too (reStructuredText)"

{:term:\`}
id="rst-term"
valid msgstr=":term:\`\b(.*?)\`(\s|\.|\)|[:,]|$)"
hint="Surely missing the bond «:term:`» - without an additional space too (reStructuredText)"

    [(\s|\s\()(:alt|:dfn|:doc|:file|:guilabel|:kbd|:literal|:menuselection|:program|:ref|:su[bp]|:term)\`(.*?)\s(<[^<]{1,}>)\`(\s|\.|\)|[:,]|$)]
    valid msgstr="<http"
    hint="Surely missing a bond «:alt:`, :dfn:`, :doc:`, :file:`, :guilabel:`, :kbd:`, :literal:`, :menuselection:`, :program:`, :ref:`, :sub:` or :sup:`, :term:`» (reStructuredText)"
