body {
    font-family: sans-serif;
    margin: 1em 2em 1em 2em;
}

a {
    color: darkgreen;
    text-decoration: none;
}
a:visited {
    color: maroon;
}

div.toc {
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}
h1, div.chapter * h2 {
    background-color: seagreen;
    padding: 0.2em 0.4em 0.2em 0.4em;
    color: white;
    border-radius: 0.3em;
}
div.sect1 * h2 {
    background-color: white;
    color: seagreen;
    padding: 0.1em 0em 0.1em 0em;
    /*border-bottom: 2px solid silver;*/
}
h3, h4 {
    color: seagreen;
}

div.sect1 {
    margin-top: 2em;
}

code {
    color: darkgreen;
}

.programlisting {
    color: darkgreen;
    background-color: #f4f4f4;
    padding: 0.5em;
    border: thin solid silver;
    border-radius: 0.3em;
}

.remark {
}
.remark:before {
    content: "[[";
}
.remark:after {
    content: "]]";
}

div.toc > dl > dt { /* chapter entry */
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}
div.toc > dl > dd > dl { /* chapter block */
    margin-top: 0em;
    margin-bottom: 0.0em;
}
div.toc > dl > dd > dl > dt { /* sect1 entry */
    margin-top: 0.0em;
    margin-bottom: 0.25em;
}
div.toc > dl > dd > dl > dd > dl { /* sect2 block */
    margin-top: 0em;
    margin-bottom: 0.0em;
}
div.toc > dl > dd > dl > dd > dl > dt { /* sect2 entry */
    margin-top: 0.0em;
    margin-bottom: 0.25em;
}

/*
Problem: no way to tell continued paragraph after a figure, listing, etc.
p {
    text-indent: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
p:first-of-type {
    text-indent: 0em;
}
*/
p > sup {
    font-size: 75%;
    vertical-align: top;
}
p > sup > a {
    vertical-align: top;
}
div.footnote > p {
    /* text-indent: 2em; */
    font-size: 75%;
}

div.authorgroup {
    margin-bottom: 1em;
}
div.author {
    margin-bottom: 0.5em;
}
h3.author {
    display:inline;
    font-size: 100%;
    color: black;
    margin: 0;
}

div.informaltable > table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: none;
}
div.informaltable > table > thead > tr > th {
    border: none;
    border-top: 0.25mm solid black;
    border-bottom: 0.25mm solid black;
    padding: 0.25em 0.5em 0.25em 0.5em;
    background-color: seagreen;
    color: white;
    text-align: left;
}
div.informaltable > table > tbody > tr > td {
    border: none;
    border-top: 0.25mm solid gray;
    border-bottom: 0.25mm solid gray;
    vertical-align: top;
    text-align: left;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
